@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;700;800&family=Poppins:ital,wght@1,300&family=Righteous&family=Sniglet:wght@400;800&display=swap");

.titulo{font-family: 'Sniglet', cursive;

}

header{
    font-family: 'Sniglet', cursive;
    margin: 2%;
    display: flex;
    justify-content: space-between;
}

.nav-item{
    margin-left: 10%;
}